// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
	background-color: rgba(210, 194, 197, 0.78);
	color: rgb(108, 125, 197);
}

//variables
@background-color:rgba(210, 194, 197, 0.78);
@primary-color:rgb(108, 125, 197);
@secondary-color:#add2bf;
@tertiary-color:#6c2984;
@test-border:red 1px dashed;
@seperator: aliceblue dashed 2px;
@gelasio: 'Gelasio',serif;
@paytone: 'Paytone One',sans-serif;
@width:100%;
@thirdWidth:75%;
@halfWidth:50%;
@height:100%;
@thirdHeight:75%;
@halfHeight:50%;
//header name + navigation
header{
	display: flex;
	@media (max-width:500px){
		align-items: center;
		flex-direction: column;
		padding: 1rem;
	}

	.navigation{
		text-transform: capitalize;
		color: #6c2984;
		font-size: 1.2rem;
    	}
	h1 {
		font-family: @paytone;
		@media (max-width: 500px) {
			border-bottom: @seperator;
			.navigation();
			text-transform: uppercase;
			font-size: 1.5rem;
		}
	}
	a{
		font-family: @gelasio;
		text-decoration: none;
		color: black;
		line-height: 3ex;
	}
	a:hover{
		color: @primary-color;
	}
	}

.portrait img{
	width: @halfWidth;
	@media(max-width:500px){
		width: @width;
	}
}
//contact
#contact{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	@media(max-width:500px) {
		width: @width;
		font-size: 2rem;
		
	}

}


